WSC/src/conf/xml-resources/web-service-references/WSWebService/wsdl/localhost_8080/WSWebService/WSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WSWebService/WSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="correosPrepareList">
<part name="parameters" element="tns:correosPrepareList"/>
</message>
<message name="correosPrepareListResponse">
<part name="parameters" element="tns:correosPrepareListResponse"/>
</message>
<message name="correosGetSelected">
<part name="parameters" element="tns:correosGetSelected"/>
</message>
<message name="correosGetSelectedResponse">
<part name="parameters" element="tns:correosGetSelectedResponse"/>
</message>
<message name="correosGetItemsAvailableSelectOne">
<part name="parameters" element="tns:correosGetItemsAvailableSelectOne"/>
</message>
<message name="correosGetItemsAvailableSelectOneResponse">
<part name="parameters" element="tns:correosGetItemsAvailableSelectOneResponse"/>
</message>
<message name="correosGetItemsAvailableSelectMany">
<part name="parameters" element="tns:correosGetItemsAvailableSelectMany"/>
</message>
<message name="correosGetItemsAvailableSelectManyResponse">
<part name="parameters" element="tns:correosGetItemsAvailableSelectManyResponse"/>
</message>
<message name="perGetItemsAvailableSelectMany">
<part name="parameters" element="tns:perGetItemsAvailableSelectMany"/>
</message>
<message name="perGetItemsAvailableSelectManyResponse">
<part name="parameters" element="tns:perGetItemsAvailableSelectManyResponse"/>
</message>
<message name="telGetItemsAvailableSelectMany">
<part name="parameters" element="tns:telGetItemsAvailableSelectMany"/>
</message>
<message name="telGetItemsAvailableSelectManyResponse">
<part name="parameters" element="tns:telGetItemsAvailableSelectManyResponse"/>
</message>
<message name="correosgetPagination">
<part name="parameters" element="tns:correosgetPagination"/>
</message>
<message name="correosgetPaginationResponse">
<part name="parameters" element="tns:correosgetPaginationResponse"/>
</message>
<message name="correosInstancia">
<part name="parameters" element="tns:correosInstancia"/>
</message>
<message name="correosInstanciaResponse">
<part name="parameters" element="tns:correosInstanciaResponse"/>
</message>
<message name="correosPrepareEdit">
<part name="parameters" element="tns:correosPrepareEdit"/>
</message>
<message name="correosPrepareEditResponse">
<part name="parameters" element="tns:correosPrepareEditResponse"/>
</message>
<message name="perGetSelected">
<part name="parameters" element="tns:perGetSelected"/>
</message>
<message name="perGetSelectedResponse">
<part name="parameters" element="tns:perGetSelectedResponse"/>
</message>
<message name="correosPrevious">
<part name="parameters" element="tns:correosPrevious"/>
</message>
<message name="correosPreviousResponse">
<part name="parameters" element="tns:correosPreviousResponse"/>
</message>
<message name="telPrepareEdit">
<part name="parameters" element="tns:telPrepareEdit"/>
</message>
<message name="telPrepareEditResponse">
<part name="parameters" element="tns:telPrepareEditResponse"/>
</message>
<message name="perGetItemsAvailableSelectOne">
<part name="parameters" element="tns:perGetItemsAvailableSelectOne"/>
</message>
<message name="perGetItemsAvailableSelectOneResponse">
<part name="parameters" element="tns:perGetItemsAvailableSelectOneResponse"/>
</message>
<message name="telGetPagination">
<part name="parameters" element="tns:telGetPagination"/>
</message>
<message name="telGetPaginationResponse">
<part name="parameters" element="tns:telGetPaginationResponse"/>
</message>
<message name="telPrepareCreate">
<part name="parameters" element="tns:telPrepareCreate"/>
</message>
<message name="telPrepareCreateResponse">
<part name="parameters" element="tns:telPrepareCreateResponse"/>
</message>
<message name="perPrepareList">
<part name="parameters" element="tns:perPrepareList"/>
</message>
<message name="perPrepareListResponse">
<part name="parameters" element="tns:perPrepareListResponse"/>
</message>
<message name="telPrepareList">
<part name="parameters" element="tns:telPrepareList"/>
</message>
<message name="telPrepareListResponse">
<part name="parameters" element="tns:telPrepareListResponse"/>
</message>
<message name="perDestroyAndView">
<part name="parameters" element="tns:perDestroyAndView"/>
</message>
<message name="perDestroyAndViewResponse">
<part name="parameters" element="tns:perDestroyAndViewResponse"/>
</message>
<message name="perPrepareCreate">
<part name="parameters" element="tns:perPrepareCreate"/>
</message>
<message name="perPrepareCreateResponse">
<part name="parameters" element="tns:perPrepareCreateResponse"/>
</message>
<message name="perGetPagination">
<part name="parameters" element="tns:perGetPagination"/>
</message>
<message name="perGetPaginationResponse">
<part name="parameters" element="tns:perGetPaginationResponse"/>
</message>
<message name="telPrepareView">
<part name="parameters" element="tns:telPrepareView"/>
</message>
<message name="telPrepareViewResponse">
<part name="parameters" element="tns:telPrepareViewResponse"/>
</message>
<message name="correosDestroy">
<part name="parameters" element="tns:correosDestroy"/>
</message>
<message name="correosDestroyResponse">
<part name="parameters" element="tns:correosDestroyResponse"/>
</message>
<message name="correosGetItems">
<part name="parameters" element="tns:correosGetItems"/>
</message>
<message name="correosGetItemsResponse">
<part name="parameters" element="tns:correosGetItemsResponse"/>
</message>
<message name="perPrepareEdit">
<part name="parameters" element="tns:perPrepareEdit"/>
</message>
<message name="perPrepareEditResponse">
<part name="parameters" element="tns:perPrepareEditResponse"/>
</message>
<message name="correosDestroyAndView">
<part name="parameters" element="tns:correosDestroyAndView"/>
</message>
<message name="correosDestroyAndViewResponse">
<part name="parameters" element="tns:correosDestroyAndViewResponse"/>
</message>
<message name="telGetItemsAvailableSelectOne">
<part name="parameters" element="tns:telGetItemsAvailableSelectOne"/>
</message>
<message name="telGetItemsAvailableSelectOneResponse">
<part name="parameters" element="tns:telGetItemsAvailableSelectOneResponse"/>
</message>
<message name="telGetSelected">
<part name="parameters" element="tns:telGetSelected"/>
</message>
<message name="telGetSelectedResponse">
<part name="parameters" element="tns:telGetSelectedResponse"/>
</message>
<message name="correosPrepareView">
<part name="parameters" element="tns:correosPrepareView"/>
</message>
<message name="correosPrepareViewResponse">
<part name="parameters" element="tns:correosPrepareViewResponse"/>
</message>
<message name="telDestroyAndView">
<part name="parameters" element="tns:telDestroyAndView"/>
</message>
<message name="telDestroyAndViewResponse">
<part name="parameters" element="tns:telDestroyAndViewResponse"/>
</message>
<message name="correosPrepareCreate">
<part name="parameters" element="tns:correosPrepareCreate"/>
</message>
<message name="correosPrepareCreateResponse">
<part name="parameters" element="tns:correosPrepareCreateResponse"/>
</message>
<message name="perPrepareView">
<part name="parameters" element="tns:perPrepareView"/>
</message>
<message name="perPrepareViewResponse">
<part name="parameters" element="tns:perPrepareViewResponse"/>
</message>
<message name="correosUpdate">
<part name="parameters" element="tns:correosUpdate"/>
</message>
<message name="correosUpdateResponse">
<part name="parameters" element="tns:correosUpdateResponse"/>
</message>
<message name="correosNext">
<part name="parameters" element="tns:correosNext"/>
</message>
<message name="correosNextResponse">
<part name="parameters" element="tns:correosNextResponse"/>
</message>
<message name="telInstancia">
<part name="parameters" element="tns:telInstancia"/>
</message>
<message name="telInstanciaResponse">
<part name="parameters" element="tns:telInstanciaResponse"/>
</message>
<message name="telUpdate">
<part name="parameters" element="tns:telUpdate"/>
</message>
<message name="telUpdateResponse">
<part name="parameters" element="tns:telUpdateResponse"/>
</message>
<message name="telGetItems">
<part name="parameters" element="tns:telGetItems"/>
</message>
<message name="telGetItemsResponse">
<part name="parameters" element="tns:telGetItemsResponse"/>
</message>
<message name="telPrevious">
<part name="parameters" element="tns:telPrevious"/>
</message>
<message name="telPreviousResponse">
<part name="parameters" element="tns:telPreviousResponse"/>
</message>
<message name="perInstancia">
<part name="parameters" element="tns:perInstancia"/>
</message>
<message name="perInstanciaResponse">
<part name="parameters" element="tns:perInstanciaResponse"/>
</message>
<message name="telCreate">
<part name="parameters" element="tns:telCreate"/>
</message>
<message name="telCreateResponse">
<part name="parameters" element="tns:telCreateResponse"/>
</message>
<message name="perCreate">
<part name="parameters" element="tns:perCreate"/>
</message>
<message name="perCreateResponse">
<part name="parameters" element="tns:perCreateResponse"/>
</message>
<message name="perUpdate">
<part name="parameters" element="tns:perUpdate"/>
</message>
<message name="perUpdateResponse">
<part name="parameters" element="tns:perUpdateResponse"/>
</message>
<message name="telDestroy">
<part name="parameters" element="tns:telDestroy"/>
</message>
<message name="telDestroyResponse">
<part name="parameters" element="tns:telDestroyResponse"/>
</message>
<message name="perDestroy">
<part name="parameters" element="tns:perDestroy"/>
</message>
<message name="perDestroyResponse">
<part name="parameters" element="tns:perDestroyResponse"/>
</message>
<message name="perPrevious">
<part name="parameters" element="tns:perPrevious"/>
</message>
<message name="perPreviousResponse">
<part name="parameters" element="tns:perPreviousResponse"/>
</message>
<message name="telNext">
<part name="parameters" element="tns:telNext"/>
</message>
<message name="telNextResponse">
<part name="parameters" element="tns:telNextResponse"/>
</message>
<message name="perGetItems">
<part name="parameters" element="tns:perGetItems"/>
</message>
<message name="perGetItemsResponse">
<part name="parameters" element="tns:perGetItemsResponse"/>
</message>
<message name="perNext">
<part name="parameters" element="tns:perNext"/>
</message>
<message name="perNextResponse">
<part name="parameters" element="tns:perNextResponse"/>
</message>
<message name="correosCreate">
<part name="parameters" element="tns:correosCreate"/>
</message>
<message name="correosCreateResponse">
<part name="parameters" element="tns:correosCreateResponse"/>
</message>
<portType name="WSWebService">
<operation name="correosPrepareList">
<input wsam:Action="http://WS/WSWebService/correosPrepareListRequest" message="tns:correosPrepareList"/>
<output wsam:Action="http://WS/WSWebService/correosPrepareListResponse" message="tns:correosPrepareListResponse"/>
</operation>
<operation name="correosGetSelected">
<input wsam:Action="http://WS/WSWebService/correosGetSelectedRequest" message="tns:correosGetSelected"/>
<output wsam:Action="http://WS/WSWebService/correosGetSelectedResponse" message="tns:correosGetSelectedResponse"/>
</operation>
<operation name="correosGetItemsAvailableSelectOne">
<input wsam:Action="http://WS/WSWebService/correosGetItemsAvailableSelectOneRequest" message="tns:correosGetItemsAvailableSelectOne"/>
<output wsam:Action="http://WS/WSWebService/correosGetItemsAvailableSelectOneResponse" message="tns:correosGetItemsAvailableSelectOneResponse"/>
</operation>
<operation name="correosGetItemsAvailableSelectMany">
<input wsam:Action="http://WS/WSWebService/correosGetItemsAvailableSelectManyRequest" message="tns:correosGetItemsAvailableSelectMany"/>
<output wsam:Action="http://WS/WSWebService/correosGetItemsAvailableSelectManyResponse" message="tns:correosGetItemsAvailableSelectManyResponse"/>
</operation>
<operation name="perGetItemsAvailableSelectMany">
<input wsam:Action="http://WS/WSWebService/perGetItemsAvailableSelectManyRequest" message="tns:perGetItemsAvailableSelectMany"/>
<output wsam:Action="http://WS/WSWebService/perGetItemsAvailableSelectManyResponse" message="tns:perGetItemsAvailableSelectManyResponse"/>
</operation>
<operation name="telGetItemsAvailableSelectMany">
<input wsam:Action="http://WS/WSWebService/telGetItemsAvailableSelectManyRequest" message="tns:telGetItemsAvailableSelectMany"/>
<output wsam:Action="http://WS/WSWebService/telGetItemsAvailableSelectManyResponse" message="tns:telGetItemsAvailableSelectManyResponse"/>
</operation>
<operation name="correosgetPagination">
<input wsam:Action="http://WS/WSWebService/correosgetPaginationRequest" message="tns:correosgetPagination"/>
<output wsam:Action="http://WS/WSWebService/correosgetPaginationResponse" message="tns:correosgetPaginationResponse"/>
</operation>
<operation name="correosInstancia">
<input wsam:Action="http://WS/WSWebService/correosInstanciaRequest" message="tns:correosInstancia"/>
<output wsam:Action="http://WS/WSWebService/correosInstanciaResponse" message="tns:correosInstanciaResponse"/>
</operation>
<operation name="correosPrepareEdit">
<input wsam:Action="http://WS/WSWebService/correosPrepareEditRequest" message="tns:correosPrepareEdit"/>
<output wsam:Action="http://WS/WSWebService/correosPrepareEditResponse" message="tns:correosPrepareEditResponse"/>
</operation>
<operation name="perGetSelected">
<input wsam:Action="http://WS/WSWebService/perGetSelectedRequest" message="tns:perGetSelected"/>
<output wsam:Action="http://WS/WSWebService/perGetSelectedResponse" message="tns:perGetSelectedResponse"/>
</operation>
<operation name="correosPrevious">
<input wsam:Action="http://WS/WSWebService/correosPreviousRequest" message="tns:correosPrevious"/>
<output wsam:Action="http://WS/WSWebService/correosPreviousResponse" message="tns:correosPreviousResponse"/>
</operation>
<operation name="telPrepareEdit">
<input wsam:Action="http://WS/WSWebService/telPrepareEditRequest" message="tns:telPrepareEdit"/>
<output wsam:Action="http://WS/WSWebService/telPrepareEditResponse" message="tns:telPrepareEditResponse"/>
</operation>
<operation name="perGetItemsAvailableSelectOne">
<input wsam:Action="http://WS/WSWebService/perGetItemsAvailableSelectOneRequest" message="tns:perGetItemsAvailableSelectOne"/>
<output wsam:Action="http://WS/WSWebService/perGetItemsAvailableSelectOneResponse" message="tns:perGetItemsAvailableSelectOneResponse"/>
</operation>
<operation name="telGetPagination">
<input wsam:Action="http://WS/WSWebService/telGetPaginationRequest" message="tns:telGetPagination"/>
<output wsam:Action="http://WS/WSWebService/telGetPaginationResponse" message="tns:telGetPaginationResponse"/>
</operation>
<operation name="telPrepareCreate">
<input wsam:Action="http://WS/WSWebService/telPrepareCreateRequest" message="tns:telPrepareCreate"/>
<output wsam:Action="http://WS/WSWebService/telPrepareCreateResponse" message="tns:telPrepareCreateResponse"/>
</operation>
<operation name="perPrepareList">
<input wsam:Action="http://WS/WSWebService/perPrepareListRequest" message="tns:perPrepareList"/>
<output wsam:Action="http://WS/WSWebService/perPrepareListResponse" message="tns:perPrepareListResponse"/>
</operation>
<operation name="telPrepareList">
<input wsam:Action="http://WS/WSWebService/telPrepareListRequest" message="tns:telPrepareList"/>
<output wsam:Action="http://WS/WSWebService/telPrepareListResponse" message="tns:telPrepareListResponse"/>
</operation>
<operation name="perDestroyAndView">
<input wsam:Action="http://WS/WSWebService/perDestroyAndViewRequest" message="tns:perDestroyAndView"/>
<output wsam:Action="http://WS/WSWebService/perDestroyAndViewResponse" message="tns:perDestroyAndViewResponse"/>
</operation>
<operation name="perPrepareCreate">
<input wsam:Action="http://WS/WSWebService/perPrepareCreateRequest" message="tns:perPrepareCreate"/>
<output wsam:Action="http://WS/WSWebService/perPrepareCreateResponse" message="tns:perPrepareCreateResponse"/>
</operation>
<operation name="perGetPagination">
<input wsam:Action="http://WS/WSWebService/perGetPaginationRequest" message="tns:perGetPagination"/>
<output wsam:Action="http://WS/WSWebService/perGetPaginationResponse" message="tns:perGetPaginationResponse"/>
</operation>
<operation name="telPrepareView">
<input wsam:Action="http://WS/WSWebService/telPrepareViewRequest" message="tns:telPrepareView"/>
<output wsam:Action="http://WS/WSWebService/telPrepareViewResponse" message="tns:telPrepareViewResponse"/>
</operation>
<operation name="correosDestroy">
<input wsam:Action="http://WS/WSWebService/correosDestroyRequest" message="tns:correosDestroy"/>
<output wsam:Action="http://WS/WSWebService/correosDestroyResponse" message="tns:correosDestroyResponse"/>
</operation>
<operation name="correosGetItems">
<input wsam:Action="http://WS/WSWebService/correosGetItemsRequest" message="tns:correosGetItems"/>
<output wsam:Action="http://WS/WSWebService/correosGetItemsResponse" message="tns:correosGetItemsResponse"/>
</operation>
<operation name="perPrepareEdit">
<input wsam:Action="http://WS/WSWebService/perPrepareEditRequest" message="tns:perPrepareEdit"/>
<output wsam:Action="http://WS/WSWebService/perPrepareEditResponse" message="tns:perPrepareEditResponse"/>
</operation>
<operation name="correosDestroyAndView">
<input wsam:Action="http://WS/WSWebService/correosDestroyAndViewRequest" message="tns:correosDestroyAndView"/>
<output wsam:Action="http://WS/WSWebService/correosDestroyAndViewResponse" message="tns:correosDestroyAndViewResponse"/>
</operation>
<operation name="telGetItemsAvailableSelectOne">
<input wsam:Action="http://WS/WSWebService/telGetItemsAvailableSelectOneRequest" message="tns:telGetItemsAvailableSelectOne"/>
<output wsam:Action="http://WS/WSWebService/telGetItemsAvailableSelectOneResponse" message="tns:telGetItemsAvailableSelectOneResponse"/>
</operation>
<operation name="telGetSelected">
<input wsam:Action="http://WS/WSWebService/telGetSelectedRequest" message="tns:telGetSelected"/>
<output wsam:Action="http://WS/WSWebService/telGetSelectedResponse" message="tns:telGetSelectedResponse"/>
</operation>
<operation name="correosPrepareView">
<input wsam:Action="http://WS/WSWebService/correosPrepareViewRequest" message="tns:correosPrepareView"/>
<output wsam:Action="http://WS/WSWebService/correosPrepareViewResponse" message="tns:correosPrepareViewResponse"/>
</operation>
<operation name="telDestroyAndView">
<input wsam:Action="http://WS/WSWebService/telDestroyAndViewRequest" message="tns:telDestroyAndView"/>
<output wsam:Action="http://WS/WSWebService/telDestroyAndViewResponse" message="tns:telDestroyAndViewResponse"/>
</operation>
<operation name="correosPrepareCreate">
<input wsam:Action="http://WS/WSWebService/correosPrepareCreateRequest" message="tns:correosPrepareCreate"/>
<output wsam:Action="http://WS/WSWebService/correosPrepareCreateResponse" message="tns:correosPrepareCreateResponse"/>
</operation>
<operation name="perPrepareView">
<input wsam:Action="http://WS/WSWebService/perPrepareViewRequest" message="tns:perPrepareView"/>
<output wsam:Action="http://WS/WSWebService/perPrepareViewResponse" message="tns:perPrepareViewResponse"/>
</operation>
<operation name="correosUpdate">
<input wsam:Action="http://WS/WSWebService/correosUpdateRequest" message="tns:correosUpdate"/>
<output wsam:Action="http://WS/WSWebService/correosUpdateResponse" message="tns:correosUpdateResponse"/>
</operation>
<operation name="correosNext">
<input wsam:Action="http://WS/WSWebService/correosNextRequest" message="tns:correosNext"/>
<output wsam:Action="http://WS/WSWebService/correosNextResponse" message="tns:correosNextResponse"/>
</operation>
<operation name="telInstancia">
<input wsam:Action="http://WS/WSWebService/telInstanciaRequest" message="tns:telInstancia"/>
<output wsam:Action="http://WS/WSWebService/telInstanciaResponse" message="tns:telInstanciaResponse"/>
</operation>
<operation name="telUpdate">
<input wsam:Action="http://WS/WSWebService/telUpdateRequest" message="tns:telUpdate"/>
<output wsam:Action="http://WS/WSWebService/telUpdateResponse" message="tns:telUpdateResponse"/>
</operation>
<operation name="telGetItems">
<input wsam:Action="http://WS/WSWebService/telGetItemsRequest" message="tns:telGetItems"/>
<output wsam:Action="http://WS/WSWebService/telGetItemsResponse" message="tns:telGetItemsResponse"/>
</operation>
<operation name="telPrevious">
<input wsam:Action="http://WS/WSWebService/telPreviousRequest" message="tns:telPrevious"/>
<output wsam:Action="http://WS/WSWebService/telPreviousResponse" message="tns:telPreviousResponse"/>
</operation>
<operation name="perInstancia">
<input wsam:Action="http://WS/WSWebService/perInstanciaRequest" message="tns:perInstancia"/>
<output wsam:Action="http://WS/WSWebService/perInstanciaResponse" message="tns:perInstanciaResponse"/>
</operation>
<operation name="telCreate">
<input wsam:Action="http://WS/WSWebService/telCreateRequest" message="tns:telCreate"/>
<output wsam:Action="http://WS/WSWebService/telCreateResponse" message="tns:telCreateResponse"/>
</operation>
<operation name="perCreate">
<input wsam:Action="http://WS/WSWebService/perCreateRequest" message="tns:perCreate"/>
<output wsam:Action="http://WS/WSWebService/perCreateResponse" message="tns:perCreateResponse"/>
</operation>
<operation name="perUpdate">
<input wsam:Action="http://WS/WSWebService/perUpdateRequest" message="tns:perUpdate"/>
<output wsam:Action="http://WS/WSWebService/perUpdateResponse" message="tns:perUpdateResponse"/>
</operation>
<operation name="telDestroy">
<input wsam:Action="http://WS/WSWebService/telDestroyRequest" message="tns:telDestroy"/>
<output wsam:Action="http://WS/WSWebService/telDestroyResponse" message="tns:telDestroyResponse"/>
</operation>
<operation name="perDestroy">
<input wsam:Action="http://WS/WSWebService/perDestroyRequest" message="tns:perDestroy"/>
<output wsam:Action="http://WS/WSWebService/perDestroyResponse" message="tns:perDestroyResponse"/>
</operation>
<operation name="perPrevious">
<input wsam:Action="http://WS/WSWebService/perPreviousRequest" message="tns:perPrevious"/>
<output wsam:Action="http://WS/WSWebService/perPreviousResponse" message="tns:perPreviousResponse"/>
</operation>
<operation name="telNext">
<input wsam:Action="http://WS/WSWebService/telNextRequest" message="tns:telNext"/>
<output wsam:Action="http://WS/WSWebService/telNextResponse" message="tns:telNextResponse"/>
</operation>
<operation name="perGetItems">
<input wsam:Action="http://WS/WSWebService/perGetItemsRequest" message="tns:perGetItems"/>
<output wsam:Action="http://WS/WSWebService/perGetItemsResponse" message="tns:perGetItemsResponse"/>
</operation>
<operation name="perNext">
<input wsam:Action="http://WS/WSWebService/perNextRequest" message="tns:perNext"/>
<output wsam:Action="http://WS/WSWebService/perNextResponse" message="tns:perNextResponse"/>
</operation>
<operation name="correosCreate">
<input wsam:Action="http://WS/WSWebService/correosCreateRequest" message="tns:correosCreate"/>
<output wsam:Action="http://WS/WSWebService/correosCreateResponse" message="tns:correosCreateResponse"/>
</operation>
</portType>
<binding name="WSWebServicePortBinding" type="tns:WSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="correosPrepareList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosGetSelected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosGetItemsAvailableSelectOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosGetItemsAvailableSelectMany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perGetItemsAvailableSelectMany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telGetItemsAvailableSelectMany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosgetPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosPrepareEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perGetSelected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosPrevious">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telPrepareEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perGetItemsAvailableSelectOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telGetPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telPrepareCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perPrepareList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telPrepareList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perDestroyAndView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perPrepareCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perGetPagination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telPrepareView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosDestroy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosGetItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perPrepareEdit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosDestroyAndView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telGetItemsAvailableSelectOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telGetSelected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosPrepareView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telDestroyAndView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosPrepareCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perPrepareView">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosNext">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telGetItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telPrevious">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perInstancia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perUpdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telDestroy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perDestroy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perPrevious">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="telNext">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perGetItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="perNext">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="correosCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSWebService">
<port name="WSWebServicePort" binding="tns:WSWebServicePortBinding">
<soap:address location="http://localhost:8080/WSWebService/WSWebService"/>
</port>
</service>
</definitions>